:root{
    --verdePrincipal: #4CAF50;
    --verdeSecundario: #81C784;
    --blancoPrincipal: #e9e3de;
    --grisPrincipal: #4d4a4a; 
    --grisSecundario: #666161;
}

body{
    font-family: arial;
    background-color: var(--blancoPrincipal);
}

header{
    background-color: var(--grisSecundario);
    border-style: solid;
    border: 5px solid var(--grisPrincipal);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--blancoPrincipal);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Institucional */
.infoInstitucional{
    max-width: 90em;
    background-color:#e1e4e1;
    box-shadow: 1px 2px 5px grey;
    margin: 50px auto;
    text-align: justify;
    padding: 5px 10px 5px 10px;
}

.link{
    text-decoration: none;
    color: var(--verdePrincipal);
}

.link:hover{
    color: var(--grisPrincipal);
    text-decoration: underline;
}

#valores{
    max-width: 25em;
    margin: 50px auto;
    border: 3px solid var(--verdePrincipal);
}

#valores>h2{
    text-align: center;
}
/* Institucional */

footer{
    background-color: var(--grisSecundario);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--blancoPrincipal);
    border-radius: 15px;
    text-align: center;
    border-style: solid;
    border: 5px solid var(--grisPrincipal);
}